<h1>Create your own meetup</h1>
<p>Form content for inputting into database</p>
<ul>
	<li>Name</li>
	<li>Location</li>
	<li>Description</li>
</ul>
<p>Brought back to /show/id after submission</p>
<p>Flash message for creation</p>
